# File: docs/source/requirements.txt

# Defining the exact version will make sure things don't break
sphinx>=3.0.0
numpy
scipy
fatpack
rainflow
pylint
pytest
lvm_read
matplotlib>=3.3
pyExSi
sphinx-book-theme
sphinx-copybutton